*{
    margin: 0;
    padding: 0;
}
.padre{
    width: 500px;
    height: auto;
    background-color: dimgray;
    display: block;
    margin: 0px auto 40px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 8px 9px rgba(0,0,0,0.32);
}

.hijo1{
    margin: 0px auto 40px auto;
    width: 200px;
    height: 200px;

    background-color: rgb(28, 28, 36);
    color: white;
    padding: 40px 30px 20px 10px;
    border-top-style: double;
    border-top-color: gold;
    border-top-width: 15px;
    border-right-style: dashed;
    border-right-color:darkmagenta;
    border-right-width: 10px;
    border-bottom-style: solid;
    border-bottom-color:cyan;
    border-bottom-width: 3px;
    border-left-style: solid;
    border-left-color:darkblue;
    border-left-width: 15px;
    border-radius: 15px 30px 10px 20px; 
    border-radius: 50%;
    box-shadow: 0px 0px 8px 9px rgba(0,0,0,0.32);
}

.hijo2{
    margin-top: 10px;
}